* {
  box-sizing: border-box; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: sans-serif; }

section {
  opacity: 0.2;
  padding: 0 20px;
  border-left: 1px solid black;
  min-width: 300px;
  position: relative; }

button {
  padding: 10px 10px;
  display: inline-block;
  font-size: 15px;
  width: 100%;
  background: #ddd;
  border: 1px solid black;
  outline: 0px none !important; }

.player-stats img {
  max-width: 40px; }

.title {
  font-family: sans-serif;
  border-bottom: 1px dashed black;
  padding-bottom: 20px;
  margin-bottom: 20px; }

.actions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  border-top: 1px dashed black;
  margin-top: 20px; }
  .actions button {
    background: #555;
    color: white; }
    .actions button:disabled {
      background: #999;
      border-color: #999; }
    .actions button:active {
      color: #555;
      background: white; }
    .actions button:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px; }
    .actions button:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; }
    .actions button + button {
      border-left-width: 0; }

.ranked-player {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  line-height: 50px;
  height: 50px;
  margin-bottom: 5px;
  background: #ddd;
  position: relative;
  overflow: hidden; }
  .ranked-player img {
    width: 50px;
    display: block;
    margin-right: 10px; }
  .ranked-player:before {
    position: absolute;
    width: 50px;
    height: 50px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -25px;
    right: -25px;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
    background-position: -50px;
    background-repeat: no-repeat;
    background-size: 50px 50px;
    -webkit-animation: glint 5s infinite linear;
            animation: glint 5s infinite linear; }
  .ranked-player:hover:before {
    background-position: 50px 0px; }

@-webkit-keyframes glint {
  0% {
    background-position: -50px 0px; }
  10% {
    background-position: 50px 0px; }
  100% {
    background-position: 50px 0px; } }

@keyframes glint {
  0% {
    background-position: -50px 0px; }
  10% {
    background-position: 50px 0px; }
  100% {
    background-position: 50px 0px; } }
  .ranked-player:nth-child(1):before {
    content: "";
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
    background-color: gold; }
  .ranked-player:nth-child(2):before {
    content: "";
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
    background-color: silver; }
  .ranked-player:nth-child(3):before {
    content: "";
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    background-color: #742;
    margin-bottom: 10px; }
  .ranked-player:nth-child(3) {
    margin-bottom: 15px; }

.player-selection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .player-selection .selectable-player {
    width: 48%;
    margin: 2px 1%;
    border: 3px solid transparent;
    padding: 0;
    font-size: larger;
    -webkit-transition: background-color 0.3s, box-shadow 0.5s;
    transition: background-color 0.3s, box-shadow 0.5s; }
    .player-selection .selectable-player img {
      display: block;
      width: 100%;
      -webkit-transition: opacity 0.2s;
      transition: opacity 0.2s; }
    .player-selection .selectable-player:disabled img {
      opacity: 0.4; }
    .player-selection .selectable-player[data-selection="first"] {
      background: #f76;
      box-shadow: 0 0 10px red; }
    .player-selection .selectable-player[data-selection="second"] {
      background: #89f;
      box-shadow: 0 0 10px blue; }

.scores {
  position: relative; }

.player-info {
  position: relative;
  background: grey; }
  .player-info .image {
    position: relative;
    overflow: hidden;
    padding-bottom: 140%; }
    .player-info .image img {
      width: 140%;
      position: absolute;
      top: 0;
      display: block; }
    .player-info .image:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      mix-blend-mode: multiply; }
  .player-info .score {
    position: absolute;
    font-size: 100px;
    padding: 0 7%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    mix-blend-mode: multiply; }
  .player-info:nth-child(1) {
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 66.66667%, 0% 100%);
            clip-path: polygon(0% 0%, 100% 0%, 100% 66.66667%, 0% 100%); }
    .player-info:nth-child(1) button {
      background: #f76; }
    .player-info:nth-child(1) .image img {
      left: -40%; }
    .player-info:nth-child(1) .image:after {
      border: 10px solid red;
      border-bottom-width: 0; }
    .player-info:nth-child(1) .score {
      color: red;
      top: 0;
      text-align: right; }
  .player-info:nth-child(2) {
    -webkit-transform: translateY(-32.33333%);
            transform: translateY(-32.33333%);
    -webkit-clip-path: polygon(0% 33.33333%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 33.33333%, 100% 0%, 100% 100%, 0% 100%);
    margin-bottom: -45%; }
    .player-info:nth-child(2) button {
      background: #89f; }
    .player-info:nth-child(2) .image img {
      right: -40%; }
    .player-info:nth-child(2) .image:after {
      border: 10px solid blue;
      border-top-width: 0; }
    .player-info:nth-child(2) .score {
      color: blue;
      bottom: 0;
      text-align: left; }

[data-view="add-player"] .camera + .name-entry {
  margin-top: 20px; }

.camera .capture-region {
  position: relative; }
  .camera .capture-region .outline {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("/images/outline.png") center bottom no-repeat;
    background-size: auto 100%;
    z-index: 1; }
  .camera .capture-region canvas, .camera .capture-region video {
    display: block;
    width: 100%;
    border: 1px dashed grey; }
  .camera .capture-region canvas {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2; }

.big-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
  visibility: hidden; }
  .big-text.reveal {
    -webkit-animation: big-text 0.5s ease-out;
            animation: big-text 0.5s ease-out;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1; }

@-webkit-keyframes big-text {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes big-text {
  0% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
  .big-text span {
    color: white;
    font-size: 100px;
    font-family: "Impact", sans-serif;
    line-height: 1em;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px  2px 0 black, 2px  2px 0 black; }

.name-entry input {
  display: block;
  border: 1px solid black;
  width: 100%;
  font-size: larger;
  padding: 5px; }
