
@mixin cover {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: sans-serif;
  max-height: 100vh;
  overflow-y: hidden;
}

section {
  opacity: 0.2;
  padding: 0 20px;
  border-left:  1px solid black;
  border-right: 1px solid black;
  position: relative;
  min-width: 75vh;
}

button {
  padding: 10px 10px;
  display: inline-block;
  font-size: 15px;
  width: 100%;
  background: #ddd;
  border: 1px solid black;
  outline: 0px none !important;
}


.title {
  font-family: sans-serif;
  border-bottom: 1px dashed black;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.actions {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 20px;
  border-top: 1px dashed black;

  button {
    background: #555;
    color: white;

    &:disabled {
      background: #999;
      border-color: #999;
    }

    &:active {
      color: #555;
      background: white;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child  {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    & + button {
      border-left-width: 0;
    }
  }
}


/// Leaderboard Pane

[data-view="ranking"] {
}


// Ranked player entry

.ranked-player {
  $size: 50px;

  display: flex;
  font-size: 24px;
  line-height: $size;
  height: $size;
  margin-bottom: 5px;
  background: #ddd;
  position: relative;
  overflow: hidden;

  img {
    width:   $size;
    display: block;
    margin-right: 10px;
  }

  &:before {
    position: absolute;
    width: $size;
    height: $size;
    transform: rotate(45deg);
    top:   -25px;
    right: -25px;
    background-image: linear-gradient(90deg, rgba(white, 0), rgba(white, 0.4), rgba(white, 0));
    background-position: -$size;
    background-repeat: no-repeat;
    background-size: $size $size;
    animation: glint 5s infinite linear;
  }

  &:hover:before {
    background-position: $size 0px;
  }

  @keyframes glint {
    0%   { background-position: -$size 0px; }
    10%  { background-position:  $size 0px; }
    100% { background-position:  $size 0px; }
  }

  &:nth-child(1):before { content: ""; animation-delay: 0.2s; background-color: gold; }
  &:nth-child(2):before { content: ""; animation-delay: 0.4s; background-color: silver; }
  &:nth-child(3):before { content: ""; animation-delay: 0.6s; background-color: #742; margin-bottom: 10px; }
  &:nth-child(3) { margin-bottom: 15px; }
}


/// Player Selection Pane

[data-view="player-select"] {

}


// Player Selection Buttons

.player-selection {
  display: flex;
  flex-wrap: wrap;

  .selectable-player {
    width: 48%; margin: 2px 1%;
    border: 3px solid transparent;
    padding: 0;
    font-size: larger;
    transition: background-color 0.3s, box-shadow 0.5s;

    img {
      display: block;
      width: 100%;
      transition: opacity 0.2s;
    }

    &:disabled img { opacity: 0.4; }

    &[data-selection="first"]  {
      background: #f76;
      box-shadow: 0 0 10px red;
    }

    &[data-selection="second"] {
      background: #89f;
      box-shadow: 0 0 10px blue;
    }
  }
}


/// Match Progress Pane

[data-view="match"] {

}


// Two-up Player Views

.scores {
  position: relative;

}


// Player View

.player-info {
  position: relative;
  background: grey;

  .image {
    position: relative;
    overflow: hidden;
    padding-bottom: 140%;

    img {
      width: 140%;
      position: absolute;
      top: 0;
      display: block;
    }

    &:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      mix-blend-mode: multiply;
    }
  }

  .score {
    position: absolute;
    font-size: 100px;
    padding: 0 7%;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    mix-blend-mode: multiply;
  }

  &:nth-child(1) {
    //clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 25% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% (100%*2/3), 0% 100%);
    button { background: #f76; }
    .image img { left: -40%; }
    .image:after { border: 10px solid red; border-bottom-width: 0; }
    .score { color: red; top: 0; text-align: right; }
  }

  &:nth-child(2) {
    transform: translateY( (100%/-3) + 1% );
    //clip-path: polygon(0% 25%, 25% 25%, 75% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% (100%/3), 100% 0%, 100% 100%, 0% 100%);
    button { background: #89f; }
    .image img { right: -40%; }
    .image:after { border: 10px solid blue; border-top-width: 0; }
    .score { color: blue; bottom: 0; text-align: left; }
    margin-bottom: -45%;
  }
}

/// Player Stats Pane

[data-view="stats"] {
}

.player-stats {

  $size: 35px;

  width: 100%;
  border-collapse: collapse;

  td, th {
    text-align: left;
    vertical-align: middle;
    height: $size;
    padding: 5px;
  }

  td {
    line-height: $size;
    white-space: nowrap;
    border-top: 1px solid black;

    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }

  td + td, th + th {
    border-left: 1px solid black;
  }

  img {
    vertical-align: middle;
    max-height: $size;
    margin-right: 5px;
  }

}


/// New Player Pane

[data-view="add-player"] {
  .camera + .name-entry {
    margin-top: 20px;
  }
}

.camera {
  .capture-region {
    position: relative;

    .outline {
      @include cover;
      background: url('/images/outline.png') center bottom no-repeat;
      background-size: auto 100%;
      z-index: 1;
    }

    canvas, video {
      display: block;
      width: 100%;
      border: 1px dashed grey;
    }

    canvas {
      position: absolute;
      top: 0;
      height: 100%;
      z-index: 2;
    }
  }
}

.big-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(black, 0.2);
  z-index: 5;
  visibility: hidden;
  //transition: transform 1s ease-out, opacity 1s ease-out;

  &.reveal {
    animation: big-text 0.5s ease-out;
    animation-iteration-count: 1;
  }

  @keyframes big-text {
    0% { opacity: 0; transform: scale(2); }
    100% { opacity: 1; transform: scale(1); }
  }

  span {
    color: white;
    font-size: 100px;
    font-family: "Impact", sans-serif;
    line-height: 1em;
    text-align: center;
    display: block;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    text-shadow:
      -2px -2px 0 black,
       2px -2px 0 black,
      -2px  2px 0 black,
       2px  2px 0 black;
  }
}

.name-entry {

  input {
    display: block;
    border: 1px solid black;
    width: 100%;
    font-size: larger;
    padding: 5px;
  }

}

