
/// Mixins

@mixin cover ($o: 0) {
  position: absolute;
  top: $o; left: $o; right: $o; bottom: $o;
}


/// Animations

@keyframes glint {
  0%   { background-position: -50px 0px; }
  10%  { background-position:  50px 0px; }
  100% { background-position:  50px 0px; }
}

@keyframes big-text {
  0%   { opacity: 0; transform: scale(2); }
  100% { opacity: 1; transform: scale(1); }
}


/// Colors

$gold: gold;
$silver: silver;
$bronze: #cd7f32;


/// Dimensions

$gutter: 3vh;

